---
interface Props {
  title: string;
  id: string;
}

const { title, id } = Astro.props;
---

<div class="flex min-h-[600px] border-t" id={id}>
  <!-- Ipadでレイアウトが崩れるためwとhを固定 -->
  <div class="border-r px-2 py-3 lg:p-5 w-[60px] lg:w-[108px]">
    <h2 class="text-3xl lg:text-6xl" style="writing-mode: vertical-rl;">
      {title}
    </h2>
  </div>
  <div class="flex w-full justify-center border-r">
    <div class="mx-4 my-20 w-full max-w-3xl">
      <slot />
    </div>
  </div>
</div>
